/* Reset styles */
* {
  margin: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial;
  color: #c4a484;
}
/* header section*/
a {
  color: #c4a484;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

.logo img {
  width: 40px;
  height: auto;
}

/* Header nav links*/
nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

nav a {
  font-weight: bold;
  padding: 0px 100px;

}
/* Icons */
.icon {
  display: flex;
}

.icon i {
  margin: 0 20px;
  cursor: pointer; 
  font-size: 20px; 
  color: #c4a484;
}

@media screen and (max-width: 768px) {
  nav {
    display: none; 
  }

  .icon {
    display: block; 
  }
}

/* Homepage */
.shop {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

 /*class "shop" section*/
  .shop h1 {
    font-size: 20px;
    margin-bottom: 1em;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: #945a40;
    font-weight: bolder;
    word-spacing: 0.5em;
  }
  .shop p {
    margin-left: 160px;
    margin-top: 280px;
    width: 25%;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    line-height: 2;
    color: #945a40;
    font-weight: bolder;
    line-height: 2;
  }
  
  .shop .btn {
    background-color: transparent;
    color: #945a40;
    padding: 15px 60px;
    border: 2px solid #945a40;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 200px;
    position: relative;
    top: 50px;  
  }

  .btn:hover {
     background-color: #945a40;
    color:#fff
  }
  

/*About us home-page*/
.home-page .about h2 {
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #945a40;
  font-weight: bolder;
}
.shop .about .row{
  display: flex;
  gap: 30px;
  }

.shop .about .about-col {
  flex: 1 ;
}
.shop .about .about-col:first-child{
  padding-right: 20px;
  font-size: 0px;
  line-height: 2;

}
.home-page .about .about-col img{
  width: 100%;
  display: block;}


/* About */
.about h1 {
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 40%;
  display: flex;
}
.about .row{
  display:flex;
  gap: 50px;
  margin-left: 100px;
}
.about-col {
  padding: 15px 0 25px;
  flex-basis: 48%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  text-align: justify;
  line-height: 2;
  font-size:x-large;
}

.about-col img {
  width: 60%;
  display: block;
}


.b-btn {
  border: 1px solid #945a40;
  background: transparent;
  color: #945a40;
  margin-left: 300px;
}

.b-btn:hover {
  background-color: #945a40;
  color:#fff;
}


/* Products */
.product-details {
  text-align: center;
  padding: 200px;
  font-weight: bolder;
}

.product-details p {
  font-size: 20px; 
  margin-bottom: 20px;
}

.product-card {
  display:table-cell;
  margin: 20px 30px;
  text-align: left;
  border: 1px solid transparent; 
  padding: 0px;
  border-radius: 5px;
}

  .product-card img {
    width: 40%;
    height: auto; 
    display:block;
    margin-bottom: 10px;
    
  }

.product-card h1,
.product-card h2,
.product-card h3 {
  font-size: 18px; 
  margin-bottom: 5px;
}

/* Product Detail Button */
.product-detail button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Shopping Cart */
.cart {
  padding: 10px;
}

/* Footer */
footer {
  background-color: white;
  margin-top: 200px;
  padding: 20px 0;
  margin-left: 0;
  text-align: center;
  width: 100%;
}

footer p {
  margin-bottom: 0 13px;
}

.icons .fa{
    color: #00008B;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* Contact page*/
.contact h1 {
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 40%;
  display: flex;
  color: #333;
  font-weight: bold;
}
.contact .row{
  display:flex;
  gap: 50px;
  margin-left: 100px;
}
.contact-col {
  padding: 15px 0 25px;
  flex-basis: 48%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  text-align: justify;
  line-height: 2;
  font-size:x-large;
}

.contact-col iframe { /*location tab*/
  width: 200%; 
  height: 400px; 
  display: block;
}

.contact-col div{
  margin-bottom: 15px;
}
.contact-col div h5{
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}
.contact-col i {
  font-size: 28px;
  margin: 10px;
  margin-right: 30px;
  color: #c29a88;
  font-weight: bold;
}

.contact-col h5,
.contact-col p {
  margin: 0;
  color:#333;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .contact-col {
    flex: 1 0 100%;
  }
}

.dropdown {
  position: relative;
  display:inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px transparent;
  z-index: 1;
}

.dropdown-content a {
  color: #c29a88;
  padding: 5px 3px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f8f6f4;}

.show {display: block;}